.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100%;
}
.introduction {
    background: rebeccapurple;
}

.recentAccount {
    background: rebeccapurple;
}

.LoginForm {
    background: #fff;
    padding: 16px;
    height: fit-content;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.forgetMdp {
    text-decoration: underline;
    font-size: 13px;
    font-family: "sans-serif";
    color: var(--primary);
    cursor: pointer;
}