.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 978px;
    margin: auto;
    justify-content: space-between;
    padding-block: 32px;
    margin-top: 50vh;
    transform: translateY(-50%);

}

.introduction {
    margin-top: 68px;
    /* background: rebeccapurple; */
    height: fit-content;
}

.facebook {
    height: 106px;
    margin: -28px;
}

.introH2 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 34px;
    width: 500px;

    margin-top: 12px;
    /* margin-left: 32px; */
}

.recentAccount {
    background: rebeccapurple;
}

.LoginForm {
    background: #fff;
    padding: 16px;
    height: fit-content;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.forgetMdp {
    text-decoration: underline;
    font-size: 13px;
    font-family: "sans-serif";
    color: var(--primary);
    cursor: pointer;
}